@mixin flexRowBetween() {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

@mixin flexRowStart() {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

@mixin flexRowAround() {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}