@import "variables";

.task {
  width: 384px;
  background: white;
  box-shadow: $box-shadow-default;
  border-radius: $box-border-radius;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;

  &__link-img {
    position: relative;
    top: 30px;
    left: 350px;
  }

  &__headline {
    min-height: 24px;
    font-family: $font-roboto;
    font-weight: map-get($font-weights, "medium");
    font-size: 20px;
    line-height: 24px;
    letter-spacing: $task-letter-spacing;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: $task-headline-margin
  }

  &__created-on {
    margin: $task-box-margin;
  }

  &__description {
    margin: $task-box-margin;
  }

  &__bottom-menu {
    width: 100%;
    margin: $task-box-margin;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__action-icons {
    float: right;
    width: 120px;
    margin-right: 26px;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-direction: row;
  }

  &__important {
    &:hover {
      filter: $orange-filter-hover;
    }
  }

  &__edit-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: $toggle-slider-color;
    }
    &:hover img {
      filter: $orange-filter-hover;
    }
  }

  &__delete-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: $toggle-slider-color;
    }
    &:hover img {
      filter: $orange-filter-hover;
    }
  }

  &__complete-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: $toggle-slider-color;
    }
    &:hover img {
      filter: $orange-filter-hover;
    }
    &:checked img {
      content:url("../images/completed-true.svg");
    }
  }

  &__important-container{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: $toggle-slider-color;
    }
    &:hover img {
      filter: $orange-filter-hover;
    }
  }
}